package templates

import (
    "bytes"
    "context"
    "errors"
    "io"
)

templ await() {
	// Empty flush so it happens before, rather than after the content.
    // We want to send what is ready before waiting for what isn't.
    @templ.Flush() { }
    { children... }
}

// This implementation doesn't offer side-effect functionality when handling the error,
// so if you wish for any logging to happen it should be done in the functions generating the values used.
func awaitFallible(fallback any) templ.Component {
	return templ.ComponentFunc(func(ctx context.Context, w io.Writer) (err error) {
        switch fallback.(type) {
        case templ.Component, string:
            ;
        default:
            err = errors.New("invalid fallback argument passed: should be either a string or a Component")
            return err
        }

        children := templ.GetChildren(ctx)
        ctx = templ.ClearChildren(ctx)
        
        err = templ.Flush().Render(ctx, w)
        if (err != nil) {
            return err
        }

        // Using a buffer means any flushes inside it won't achieve anything;
        // we need all the contents to determine if the fallback should be rendered.
        buffer := new(bytes.Buffer)
        renderErr := children.Render(ctx, buffer)
        if (renderErr == nil) {
            _, err = buffer.WriteTo(w)
        } else {
            // Since this is intended for streaming, we are unable to react by redirecting to an error page.
            // Deliberately swallow the error and try to render a fallback instead.
            switch fb := fallback.(type) {
            case templ.Component:
                err = fb.Render(ctx, w)
            case string:
                _, err = io.WriteString(w, fb)
            default:
                panic("unhandled fallback type")
            }
        }
        if (err != nil) {
            return err
        }

		return
	})
}
